html {
  font-size: 10px;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Arapey', serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
  background: #CCCCCC;
}
div {
  grid-row-start: 1;
  grid-row-end: 3;
}
h1{
  font-family: '迷你简卡通', cursive;
  font-weight: normal;
  letter-spacing: .05em;
  color: rgb(108, 164, 228);
  font-size: 10rem;
  text-align: center;
  position: relative;
}

h2{
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  letter-spacing: .05em;
  color:rgb(185, 92, 92);
  font-size: 4.2rem;
  text-align: center;
  position: relative;

}
h3{
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  letter-spacing: .05em;
  color: #000;
  font-size: 3.6rem;
  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  width: 50%;
}

h4{
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  letter-spacing: .05em;
  color: #000;
  font-size: 3rem;
  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  width: 50%;
}
h5{
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  letter-spacing: .05em;
  color: #000;
  font-size: 2.4rem;
  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  width: 50%;
}

h6{
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  letter-spacing: .05em;
  color: #000;
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  width: 50%;
}

p {
  font-size: 4rem;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  position: relative;
}

img {
  width: 40%;
  z-index: 1;
  object-fit: cover;
  border: 5px dashed lightblue;
  text-align: center;
  position: relative;
  left:30%
}
